<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <div>
    <h1 class="title">LIBROS</h1>
  </div>

  <ion-button expand="block" (click)="gotoMyBooks()">Mostrar libros</ion-button>
  <ion-button expand="block" (click)="gotoAddBook()">Añadir libro</ion-button>
  <ion-button expand="block" color="medium" (click)="gotoConfig()">Configuración</ion-button>
</ion-content>
