.photo-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;

  .photo-preview {
    width: 110px;
    height: 110px;
    margin-bottom: 0.75rem;
    background: #f2f2f2;
    ion-icon {
      font-size: 48px;
      color: var(--ion-color-medium);
    }
  }

  &__actions {
    display: flex;
    gap: 0.5rem;
  }
}
