<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Añadir Libro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="form-container">
    <section class="photo-picker">
      <ion-avatar class="photo-preview">
        <img *ngIf="previewImage" [src]="previewImage" alt="Portada seleccionada" />
        <ion-icon *ngIf="!previewImage" name="image-outline"></ion-icon>
      </ion-avatar>

      <div class="photo-picker__actions">
        <ion-button fill="clear" size="small" (click)="pickFromGallery()">
          <ion-icon slot="start" name="images-outline"></ion-icon>
          Galería
        </ion-button>

        <ion-button fill="clear" size="small" (click)="takePhoto()">
          <ion-icon slot="start" name="camera-outline"></ion-icon>
          Cámara
        </ion-button>
      </div>

      <input
        #fileInput
        type="file"
        accept="image/*"
        hidden
        (change)="handleFileInput($event)"
      />
    </section>

    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="stacked">Título *</ion-label>
        <ion-input formControlName="title" placeholder="Ingresa el título del libro"></ion-input>
      </ion-item>
      <div *ngIf="bookForm.get('title')?.invalid && bookForm.get('title')?.touched" class="error-message">
        <p *ngIf="bookForm.get('title')?.errors?.['required']">El título es requerido</p>
        <p *ngIf="bookForm.get('title')?.errors?.['minlength']">El título debe tener al menos 3 caracteres</p>
      </div>

      <ion-item>
        <ion-label position="stacked">Autor *</ion-label>
        <ion-input formControlName="author" placeholder="Ingresa el nombre del autor"></ion-input>
      </ion-item>
      <div *ngIf="bookForm.get('author')?.invalid && bookForm.get('author')?.touched" class="error-message">
        <p *ngIf="bookForm.get('author')?.errors?.['required']">El autor es requerido</p>
        <p *ngIf="bookForm.get('author')?.errors?.['minlength']">El autor debe tener al menos 2 caracteres</p>
      </div>

      <div class="button-container">
        <ion-button expand="block" type="submit" [disabled]="bookForm.invalid">
          Guardar Libro
        </ion-button>

        <ion-button expand="block" fill="outline" color="medium" (click)="onCancel()">
          Cancelar
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
